nav {
  background-color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.nav-padding {
  padding: 0 20px;
}

li {
  list-style-type: none;
}

nav a {
  color: #525252;
  text-decoration: none;
  list-style-type: none;
}

nav a.active {
  color: #2e2e2e;
  font-weight: bold;

  box-sizing: border-box;
}

nav a.active:hover {
  color: #2e2e2e !important;
}

nav a:hover {
  text-decoration: none;
  color: #2e2e2e;
}

nav a.active.navbar-brand {
  border-bottom: none;
}

nav a:not(.navbar-brand):hover {
  color: #2a2a2a;
}

button {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.navbar-brand {
  color: #2e2e2e;
}

.navbar-brand .active {
  color: #2e2e2e;
  font-weight: normal;
}

.navbar-brand:hover {
  color: #2e2e2e;
}

@media (max-width: 991px) {
  .navbar .navbar-brand {
    max-width: 280px;
  }
}
